@model JehovasFitness.ViewModels.RegisterUserViewModel

<h1>Signup for Jehova's Fitness!</h1>

<form asp-controller="LoginSignup" asp-action="Signup" method="post">

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control"
               asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control"
               asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input class="form-control"
               asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="Confirmation"></label>
        <input class="form-control" asp-for="Confirmation" />
        <span asp-validation-for="Confirmation"></span>
    </div>

    <input type="submit" value="Signup!" />

</form>
