@model JehovasFitness.ViewModels.
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Welcome to Johova's Fitness,</h1>
<h2>@Model.name , let's get started!</h2>
<h3>Please fill in the Information form.</h3>